<div>
    <h3>Addresses</h3>
    <div *ngFor="let userAddress of userAddressDetails">
        <span>{{userAddress.addressName}}</span>
        <span>{{userAddress.addressType}}</span>
        <span>{{userAddress.markAsDefaultFlag}}</span>
        <span>{{userAddress.addressLine1}}</span>
        <span>{{userAddress.addressLine2}}</span>
        <span>{{userAddress.addressLine3}}</span>
        <span>{{userAddress.city}}</span>
        <span>{{userAddress.state}}</span>
        <span>{{userAddress.country}}</span>
        <span>{{userAddress.zipCode}}</span>
        <span>{{userAddress.phoneNumber}}</span>
        <span>{{userAddress.createdDate}}</span>

    </div>
</div>