<div class="flex-container">
    <app-product-filter> </app-product-filter>

    <div *ngIf="productList && productList.length">
        <div>
            <!-- <div class="product flex-products" *ngFor="let product of productList"> -->
            <div class="product" *ngFor="let product of productList">
                <div>
                    <app-product-card class="product-card" [productDetailView]="product"></app-product-card>
                </div>
            </div>
        </div>
    </div>
</div>