<div class="d-flex justify-content-between">



<div class="flex-filter-container">
    <app-product-filter> </app-product-filter>
</div>

<div class="flex-product-container">
    <div *ngIf="productList && productList.length">
        <div>
            <!-- <div class="product flex-products" *ngFor="let product of productList"> -->
            <div class="product" *ngFor="let product of productList">
                <div>
                    <app-product-card class="product-card" [productDetailView]="product"></app-product-card>
                </div>
            </div>
        </div>
    </div>
</div>

</div>